<div class="card" id={{_id}}>
  {{#if thumbnail.length}}
    {{#each thumbnail}}
      <img src={{this}} alt={{title}}>
    {{/each}}
  {{else}}
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLhZ20NCp7B8aXMv9r7CVxomuhhoPVyT3AcJceeVqmoASVe4m8U6d-mgd0YJWQqfbdfOU&usqp=CAU" alt="no image available">
  {{/if}}
  <h3>{{title}}</h3>
  <p>Category: {{category}} </p>
  <p>Price: ${{price}}</p>
  <p>Description: {{description}} </p>
  <a href="/product/{{_id}}"><button>Detail</button></a>
  <button class="addCart">Add to cart</button>
</div>